@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(300deg, white, #9bbcff, #e8f0ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

  --blue: rgb(0, 76, 241);
}

body {
  min-height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
