<section id="dashboard">
  <h3>Your tasks</h3>

  <ul>
    <li *ngFor="let task of tasks; index as i">
      <b>{{ i + 1 }}.</b>
      <div class="info">
        <p class="name">
          <a routerLink="/{{ task.id }}">{{ task.name }}</a>
          <button (click)="removeTask(task.id)" type="button">
            <span class="iconify" data-icon="ant-design:delete-outlined"></span>
          </button>
        </p>
        <p class="description">{{ task.description }}</p>
      </div>
    </li>
  </ul>
</section>
